<!-- Modal -->
<div class="modal fade" id="exampleModalLabel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Película</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form >
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" name="titleP" class="form-control" ng-model="titleP" placeholder="Titulo de la pelicula" ng-required="titleP">
                    </div>    
                     <div class="form-group">
                        <input type="number" name="year"  class="form-control" placeholder="Año">
                     </div>
                    <div class="form-group">
                        <input type="number" name="time"  class="form-control" placeholder="Duración">
                    </div>
                    <div class="form-group">
                        <input type="text" name="leg"  class="form-control" placeholder="Idioma">
                    </div>
                    <div class="form-group">
                        <input type="date" name="dataestreno" class="form-control" placeholder="Fecha de estreno">
                    </div>
                    <div class="form-group">
                        <input type="text" name="country" class="form-control" placeholder="País de estreno">
                    </div>
                </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" >Editar</button>
                  </div>
              </form>
        </div>

      </div>
    </div>
  </div>